.navbar{
    height: 40px;
    background-image: -moz-linear-gradient( 0deg, rgb(41,216,188) 0%, rgb(12,195,198) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(41,216,188) 0%, rgb(12,195,198) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(41,216,188) 0%, rgb(12,195,198) 100%);
    box-shadow: 0px 2px 20px 0px rgba(33, 8, 53, 0.4);
}

.navbar .navbar-inner .center{
    margin: auto;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}
.navbar .navbar-inner .center .buttons-row{
    height: 40px;
    line-height: 40px;
}
.navbar .navbar-inner .center .buttons-row .tab-link{
    height: 40px;
    line-height: 40px;
}
.navbar .navbar-inner .center .buttons-row .tab-link:last-child{
    background-color: rgba(0,0,0,0.2);
    border-radius: 0px;
}
.navbar .navbar-inner .center .buttons-row .active{
    background-image: url(img/tabs_active.png);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 50%;
}
.navbar .navbar-inner .center .buttons-row .tab-link i.iconfont{
    display: block;
    font-size: 22px;
}



.tabbar-labels{
    padding: 5px 0px;
    height: 50px;
}
.toolbar-bottom{
    overflow: inherit;
    background-color: #fff;
}
.toolbar-bottom .toolbar-inner{
    overflow: inherit;
}
.toolbar-bottom .toolbar-inner a.tab-link{
    padding: 0px;
    color: #bfbfbf;
    height: auto;
    overflow: initial;
}
.toolbar-bottom .toolbar-inner a.tab-link:nth-child(2) .tab-btn{
    transform: translate(0px,-15px);
    padding: 5px 0px;
    width:50px;
    height: 50px;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.75);
    border-radius: 50%;
    background-color: #fff;
    box-sizing: border-box;
}
.toolbar-bottom .toolbar-inner a.tab-link .tab-btn i.iconfont{
    display: block;
    margin: auto;
    width:32px;
    height: 24px;
    line-height: 24px;
    font-size: 32px;
}
.toolbar-bottom .toolbar-inner a.tab-link .tab-btn span{
    margin: 0px;
    font-size: 12px;
    text-align: center;
}
.toolbar-bottom .toolbar-inner a.active{
    color: #0dc3c6!important;
}

.page-content{
    background-color: #ebebeb;
}
.page-content .navbar-banner{
    width:100%;
    height: 110px;
    background-color: #fff;
}

a.floating-button{
    bottom:60px;
    width:44px;
    height: 44px;
    background-color: #0dc3c6;
    box-shadow: 0px 5px 10px 0px rgba(13, 195, 198, 0.5);
}

a.floating-button i.iconfont{
    display: block;
    width:44px;
    height: 44px;
    text-align: center;
    font-size: 32px;
    line-height: 44px;
}


.road-card{
    margin-top: 20px;
    padding:0px 10px;
    background-color: #fff;
}
.road-card .media{
    display: table;
    padding: 10px 0px;
    width:100%;
    box-sizing: border-box;
}
.road-card .media .media-left,
.road-card .media .media-body{
    display: table-cell;
    vertical-align: top;
}
.road-card .media .media-left .head{
    width:40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
}
.road-card .media .media-body{
    padding-left: 10px;
    width: 10000px;
}
.road-card .media .media-body .name{
    color: #242424;
}
.road-card .media .media-body .time{
    color: #808080;
    font-size: 13px;
}
.road-card .digest{
    margin-bottom: 15px;
    color: #242424;
    font-size: 14px;
}
.road-card .digest a{
    color: #00b4ff;
}
.road-card .thumbnail{
    position: relative;
    margin: auto;
    margin-bottom: 15px;
    display: block;
    width:75%;
    height: 170px;
    border: 1px solid rgb(153, 153, 153);
    background-color: #ccc;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
}


.road-card .thumbnail p{
    position: absolute;
    left: 0px;
    bottom:0px;
    margin: 0px;
    width:100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #fff;
    color: #00b4ff;
}

.road-card .join-btn{
    margin-bottom: 20px;
}
.road-card .join-btn a{
    margin: auto;
    width: 75%;
    height: 40px;
    border-radius: 20px;
    background-color: #0dc3c6;
    box-shadow: 0px 5px 10px 0px rgba(13, 195, 198, 0.3);
    color: #fff;
    font-size: 14px;
}

.road-card .road-card-footer{
    display: flex;
    height: 60px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top:1px solid #f2f2f2;
}
.road-card .road-card-footer .card-footer-link{
    width:50%;
    text-align: center;
}
.road-card .road-card-footer .card-footer-link{
    border-right: 1px solid #f2f2f2;
}

.road-card .road-card-footer .card-footer-link a i.iconfont{
    display: block;
    font-size: 22px;
}
a.like-btn i.iconfont{
    color: #ee4a93;
}
a.comment-btn i.iconfont{
    color: #4d297b;
}
.road-card .road-card-footer .card-footer-link a span{
    color: #242424;
}

.floating-button{
    z-index:4;
}
.modal-school{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 498;
}
.modal-school .table{
    position: relative;
    width:100%;
    height: 100%;
    text-align: center;
    z-index:1;
}
.modal-school .table .td{
    vertical-align: middle;
}
.modal-school .table .td .modal-content{
    position: relative;
    display: inline-block;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    z-index:1;
}

.modal-school .table .td .modal-content .title{
    padding: 10px 0px;
    font-size: 12px;
    color: #808080;
}
.modal-school .table .td .modal-content .list-block{
    margin: 0px;
}
.modal-school .table .td .modal-content .list-block ul:before{
    display: none;
}
.modal-school .table .td .modal-content .list-block ul li .label-radio{
    padding: 0px 10px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-school .table .td .modal-content .list-block ul li:last-child .label-radio{
    border-bottom: none;
}
.modal-school .table .td .modal-content .list-block ul li .label-radio .item-media{
    font-size: 14px;
    color: #242424;
}
.modal-school .table .td .modal-content .list-block ul li .label-radio .item-media i.iconfont{
    display: block;
    margin-right: 10px;
    width:30px;
    height: 30px;
    line-height: 30px;
    font-size: 22px;
    text-align: center;
    border-radius: 50%;
    background-color: #0dc3c6;
    color: #fff;
}
.modal-school .table .td .modal-content .list-block ul li .label-radio .item-media .school-logo{
    float: left;
    margin-right: 10px;
    width:30px;
    height: 30px;
    background-size: contain;
    border-radius: 50%;
}
.modal-school .table .td .modal-content .list-block ul li .label-radio .item-inner{
    margin-left: 15px;
    padding: 0px;
    width: inherit;
    border: none;
}
.modal-school .table .td .modal-content .list-block ul li .label-radio .item-inner:after{
    display: none;
}

label.label-radio i.icon-form-radio,
label.label-radio input[type=radio]:checked~.item-inner i.icon-form-radio{
    border-color: #e5e5e5;
}
label.label-radio input[type=radio]:checked~.item-inner i.icon-form-radio:after {
    background-color: #0dc3c6;
}
.modal-school .table .td .modal-bg{
    position: absolute;
    left: 0px;
    top:0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    z-index:0;
}

.solongplanner{
    width: 100%;
    height: calc(100% - 110px);
}
.solongplanner .table{
    width:100%;
    height: 100%;
    text-align: center;
}
.solongplanner .table .td{
    vertical-align: middle;
}
.solongplanner .table .td .no-planner{
    margin: auto;
    width:75%;
    height:40%;
    background-image: url(img/tips.png);
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}
.solongplanner .table .td h4{
    margin: 0px;
    padding-top: 15px;
    color: #242424;
    font-weight: normal;
    font-size: 14px;
}
.solongplanner .table .td p{
    margin: 0px;
    padding-top: 10px;
    font-size: 14px;
    color:#808080;
}
.solongplanner .table .td .button{
    display: block;
    margin: auto;
    margin-top: 15px;
    width:75%;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background-color: #0cc3c6;
    box-shadow: 0px 5px 10px 0px rgba(12, 195, 198, 0.3);
}

.poptip{
    position: absolute;
    right: 5px;
    top:55px;
    padding: 5px;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    border-radius: 4px;
    z-index: 2;
}
.poptip-angle {
    width: 26px;
    height: 26px;
    position: absolute;
    right: -10px;
    top: 0;
    z-index: 100;
    overflow: hidden;
}
.poptip-angle.on-top {
    right: 15px;
    top: -26px;
}
.poptip-angle.on-top:after {
    right: 0;
    top: 19px;
}
.poptip-angle:after {
    content: ' ';
    background: rgba(0,0,0,0.8);
    width: 26px;
    height: 26px;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}