.navbar{
    height: 40px;
    background-image: -moz-linear-gradient( 0deg, rgb(41,216,188) 0%, rgb(12,195,198) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(41,216,188) 0%, rgb(12,195,198) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(41,216,188) 0%, rgb(12,195,198) 100%);
    box-shadow: 0px 2px 20px 0px rgba(33, 8, 53, 0.4);
}

.navbar .navbar-inner .center{
    margin: auto;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}
.navbar .navbar-inner .center .buttons-row{
    height: 40px;
    line-height: 40px;
}
.navbar .navbar-inner .center .buttons-row .tab-link{
    height: 40px;
    line-height: 40px;
}
.navbar .navbar-inner .center .buttons-row .tab-link:last-child{
    background-color: rgba(0,0,0,0.2);
    border-radius: 0px;
}
.navbar .navbar-inner .center .buttons-row .active{
    background-image: url(img/tabs_active.png);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 50%;
}
.navbar .navbar-inner .center .buttons-row .tab-link i.iconfont{
    display: block;
    font-size: 22px;
}


.tabbar-labels{
    padding: 5px 0px;
    height: 50px;
}
.toolbar-bottom{
    overflow: inherit;
    background-color: #fff;
}
.toolbar-bottom .toolbar-inner{
    overflow: inherit;
}
.toolbar-bottom .toolbar-inner a.tab-link{
    padding: 0px;
    color: #bfbfbf;
    height: auto;
    overflow: initial;
}
.toolbar-bottom .toolbar-inner a.tab-link:nth-child(2) .tab-btn{
    transform: translate(0px,-15px);
    padding: 5px 0px;
    width:50px;
    height: 50px;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.75);
    border-radius: 50%;
    background-color: #fff;
    box-sizing: border-box;
}
.toolbar-bottom .toolbar-inner a.tab-link .tab-btn i.iconfont{
    display: block;
    margin: auto;
    width:32px;
    height: 24px;
    line-height: 24px;
    font-size: 32px;
}
.toolbar-bottom .toolbar-inner a.tab-link .tab-btn span{
    margin: 0px;
    font-size: 12px;
    text-align: center;
}
.toolbar-bottom .toolbar-inner a.active{
    color: #0dc3c6!important;
}

.page-content{
    background-color: #ebebeb;
}
.page-content .navbar-banner{
    width:100%;
    height: 110px;
    background-color: #fff;
}

.road-card{
    margin-top: 20px;
    padding:0px 10px;
    background-color: #fff;
}

.road-card .time{
    padding: 10px 0px;
    color: #808080;
    font-size: 13px;
}
.road-card .cover-pic{
    width: 100%;
    height: 150px;
    background-color: #ccc;
}
.road-card .digest{
    margin-bottom: 15px;
    color: #242424;
    font-size: 14px;
}
.road-card .digest a{
    color: #00b4ff;
}

.road-card .join-btn,
.road-card .see-btn{
    margin-bottom: 20px;
}
.road-card .join-btn a{
    margin: auto;
    width: 75%;
    height: 40px;
    border-radius: 20px;
    background-color: #0dc3c6;
    box-shadow: 0px 5px 10px 0px rgba(13, 195, 198, 0.3);
    color: #fff;
    font-size: 14px;
}
.road-card .see-btn a{
    margin: auto;
    width: 75%;
    height: 40px;
    border-radius: 20px;
    background-color: #ccc;
    box-shadow: 0px 5px 10px 0px rgba(204, 204, 204, 0.3);
    color: #fff;
    font-size: 14px;
}

.road-card{
    margin-top: 20px;
    padding:0px 10px;
    background-color: #fff;
}
.road-card .media{
    display: table;
    padding: 10px 0px;
    width:100%;
    box-sizing: border-box;
}
.road-card .media .media-left,
.road-card .media .media-body{
    display: table-cell;
    vertical-align: top;
}
.road-card .media .media-left .head{
    width:40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
}
.road-card .media .media-body{
    padding-left: 10px;
    width: 10000px;
}
.road-card .media .media-body .name{
    color: #242424;
}
.road-card .media .media-body .time{
    padding: 0px;
    color: #808080;
    font-size: 13px;
}
.road-card .digest{
    margin-bottom: 15px;
    color: #242424;
    font-size: 14px;
}
.road-card .digest a{
    color: #00b4ff;
}
.road-card .thumbnail{
    position: relative;
    margin: auto;
    margin-bottom: 15px;
    display: block;
    width:75%;
    height: 170px;
    border: 1px solid rgb(153, 153, 153);
    background-color: #ccc;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
}


.road-card .thumbnail p{
    position: absolute;
    left: 0px;
    bottom:0px;
    margin: 0px;
    width:100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #fff;
    color: #00b4ff;
}

.road-card .join-btn{
    margin-bottom: 20px;
}
.road-card .join-btn a{
    margin: auto;
    width: 75%;
    height: 40px;
    border-radius: 20px;
    background-color: #0dc3c6;
    box-shadow: 0px 5px 10px 0px rgba(13, 195, 198, 0.3);
    color: #fff;
    font-size: 14px;
}

.road-card .road-card-footer{
    display: flex;
    height: 60px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top:1px solid #f2f2f2;
}
.road-card .road-card-footer .card-footer-link{
    width:50%;
    text-align: center;
}
.road-card .road-card-footer .card-footer-link{
    border-right: 1px solid #f2f2f2;
}

.road-card .road-card-footer .card-footer-link a i.iconfont{
    display: block;
    font-size: 22px;
}
a.like-btn i.iconfont{
    color: #ee4a93;
}
a.comment-btn i.iconfont{
    color: #4d297b;
}
.road-card .road-card-footer .card-footer-link a span{
    color: #242424;
}



.the-vote ul{
    margin: 0px;
    padding: 0px;
}
.the-vote ul li.item-content{
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 32px;

}
.the-vote ul li.item-content a.link{
    position: absolute;
    left: 0px;
    bottom:0px;
    width:100%;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    text-shadow: 0px 0px 3px #000;
    overflow: hidden;
    z-index:1;
}
.the-vote ul li.item-content p{
    margin: 0px;
    margin-bottom: 10px;
    color: #808080;
}
.the-vote ul li.item-content .progress-bar{
    position: absolute;
    left: 0px;
    bottom:0px;
    width:100%;
    height: 32px;
    border-radius: 32px;
    background-color: #cccccc;
    box-shadow: 0px 5px 10px 0px rgba(13, 195, 198, 0.3);
    overflow: hidden;
    z-index:0;
}
.the-vote ul li.item-content .progress-bar .progressing{
    height: 100%;
    background-color:#0dc3c6;
}

.voted ul li.item-content .progress-bar{
    box-shadow: 0px 5px 10px 0px rgba(128, 128, 128, 0.3);
}
.voted ul li.item-content .progress-bar .progressing{
    background-color:#b3b3b3;
}
.voted ul li.chioce .progress-bar{
    box-shadow: 0px 5px 10px 0px rgba(13, 195, 198, 0.3);
}
.voted ul li.chioce .progress-bar .progressing{
    background-color:#0dc3c6;
}



.road-card .road-card-footer{
    display: flex;
    height: 60px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top:1px solid #f2f2f2;
}
.road-card .road-card-footer .card-footer-link{
    width:50%;
    text-align: center;
    border-right: 1px solid #f2f2f2;
}

.road-card .road-card-footer .card-footer-link:last-child{
    border:none;
}

.road-card .road-card-footer .card-footer-link a i.iconfont{
    display: block;
    font-size: 22px;
}
a.like-btn i.iconfont{
    color: #ee4a93;
}
a.comment-btn i.iconfont{
    color: #4d297b;
}
.road-card .road-card-footer .card-footer-link a span{
    color: #242424;
}


/*投票详情*/
a.sharelink,
a.back{
    display: inline-block;
    width:50px;
    height:40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
}
a.sharelink i.iconfont,
a.back i.iconfont{
    font-size: 18px;
}

.detail-layer{
    padding:0px 10px;
    background-color: #fff;
}
.detail-layer .time{
    padding: 10px 0px;
    color: #808080;
    font-size: 13px;
}
.detail-layer .detail-content{
    margin-bottom: 15px;
    color: #242424;
    font-size: 14px;
}
.detail-layer .detail-pic{
    width:100%;
    min-height: 100px;
    background-color: #ccc;
}
.detail-layer .detail-pic img{
    max-width: 100%;
}
.detail-layer .list-btn{
    position: relative;
    width:100%;
    height: 40px;
}
.detail-layer .list-btn a.btn-left{
    position: absolute;
    left: 0px;
    bottom:0px;
    display: block;
    padding-left: 10px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    color: #242424;
}
.detail-layer .list-btn a.btn-right{
    position: absolute;
    right: 0px;
    bottom:0px;
    display: block;
    padding-right: 10px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    color: #242424;
}
.detail-layer .list-btn .like i.iconfont{
    float: left;
    margin-right: 5px;
    color: #ee4a93;
    font-size: 20px;
}
.detail-layer .list-btn .comment i.iconfont{
    float: left;
    margin-right: 5px;
    color: #533187;
    font-size: 20px;
}


.detail-comment .list-block ul:before,
.detail-comment .list-block ul:after{
    display: none;
}
.detail-comment .list-block{
    margin: 0px;
}
.detail-comment .media-list .swipeout .swipeout-content .item-content .item-media .cmt-head{
    width:40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
}
.detail-comment .media-list .swipeout .swipeout-content .item-content .item-inner .item-title-row .item-title{
    font-size: 13px;
    font-weight: normal;
    color: #229ad2;
    line-height: 14px;
}
.detail-comment .media-list .swipeout .swipeout-content .item-content .item-inner .item-subtitle{
    color: #808080;
    font-size: 12px;
    line-height: 12px;
}
.detail-comment .media-list .swipeout .swipeout-content .item-content .item-inner .item-text{
    margin: 0px;
    color: #4c4c4c;
    font-size: 13px;
}

.detail-comment .media-list .swipeout .swipeout-actions-right .swipeout-delete i.iconfont{
    margin-right: 5px;
    font-size: 24px;
}
.detail-comment .media-list .swipeout .swipeout-actions-right .swipeout-delete p{
    margin: 0px;
}

.comment-box .toolbar-inner textarea{
    font-size: 14px;
}
.comment-box .toolbar-inner a.link{
    background-color: #0cc3c6;
    color: #fff;
    font-size: 14px;
}

.popup-share{
    padding: 10px 0px;
    top:initial;
    height: initial;
    bottom: 0px;
}
.popup-share .table{
    width:100%;
    text-align: center;
}
.popup-share .table .td a{
    display: block;
    box-sizing: border-box;
}
.popup-share .table .td a img{
    width: 45px;
    height: 45px;
}
.popup-share .table .td a span{
    display: block;
    text-align: center;
    font-size: 12px;
    color: #242424;
}

.poptip{
    position: absolute;
    right: 5px;
    top:55px;
    padding: 5px;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    border-radius: 4px;
    z-index: 2;
}
.poptip-angle {
    width: 26px;
    height: 26px;
    position: absolute;
    right: -10px;
    top: 0;
    z-index: 100;
    overflow: hidden;
}
.poptip-angle.on-top {
    right: 15px;
    top: -26px;
}
.poptip-angle.on-top:after {
    right: 0;
    top: 19px;
}
.poptip-angle:after {
    content: ' ';
    background: rgba(0,0,0,0.8);
    width: 26px;
    height: 26px;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


.dotopic {
    height: 40px;
    box-shadow: 0px -5px 10px 0px rgba(13, 195, 198, 0.3);
    overflow: hidden;
}
.dotopic .toolbar-inner a.link{
    width:100%;
    height: 40px;
    background-color: #0dc3c6;
    color: #fff;
}

.detail-comment .list-block ul:before,
.detail-comment .list-block ul:after{
    display: none;
}
.detail-comment .list-block{
    margin: 0px;
}
.detail-comment .media-list .swipeout .swipeout-content .item-content .item-media .cmt-head{
    width:40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
}
.detail-comment .media-list .swipeout .swipeout-content .item-content .item-inner .item-title-row .item-title{
    font-size: 13px;
    font-weight: normal;
    color: #229ad2;
    line-height: 14px;
}
.detail-comment .media-list .swipeout .swipeout-content .item-content .item-inner .item-subtitle{
    color: #808080;
    font-size: 12px;
    line-height: 12px;
}
.detail-comment .media-list .swipeout .swipeout-content .item-content .item-inner .item-text{
    margin: 0px;
    color: #4c4c4c;
    font-size: 13px;
}

.detail-comment .media-list .swipeout .swipeout-actions-right .swipeout-delete i.iconfont{
    margin-right: 5px;
    font-size: 24px;
}
.detail-comment .media-list .swipeout .swipeout-actions-right .swipeout-delete p{
    margin: 0px;
}

.comment-box .toolbar-inner textarea{
    font-size: 14px;
}
.comment-box .toolbar-inner a.link{
    background-color: #0cc3c6;
    color: #fff;
    font-size: 14px;
}